@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #1a1e54;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

/* for scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1a1e54;
}

::-webkit-scrollbar-thumb {
    background: #42badb;
    border-radius: 15px;
}